USE [master]
GO
/****** Object:  Database [DecortexDB]    Script Date: 27-07-2017 1:50:04 ******/
CREATE DATABASE [DecortexDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DecortexDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DecortexDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DecortexDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DecortexDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DecortexDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DecortexDB]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 27-07-2017 1:50:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Correo] [varchar](max) NOT NULL,
	[Direccion] [varchar](max) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Especificaciones] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cortina]    Script Date: 27-07-2017 1:50:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cortina](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ubicacion] [varchar](max) NOT NULL,
	[Ancho] [float] NOT NULL,
	[Alto] [float] NOT NULL,
	[Tela] [varchar](max) NOT NULL,
	[Posicion] [varchar](max) NOT NULL,
	[MetrosCuadrados] [float] NOT NULL,
	[Valor] [int] NOT NULL,
	[ClienteCodigo] [int] NOT NULL,
 CONSTRAINT [PK_Cortina] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Cortina]  WITH CHECK ADD  CONSTRAINT [FK_Cortina_Cliente] FOREIGN KEY([ClienteCodigo])
REFERENCES [dbo].[Cliente] ([Codigo])
GO
ALTER TABLE [dbo].[Cortina] CHECK CONSTRAINT [FK_Cortina_Cliente]
GO
USE [master]
GO
