<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Decortex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Decortex.Properties.Settings>
            <setting name="Codigo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nombre" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idCortina" serializeAs="String">
                <value>0</value>
            </setting>
        </Decortex.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <add name="DecortexEntities" connectionString="metadata=res://*/DecortexModelo.csdl|res://*/DecortexModelo.ssdl|res://*/DecortexModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DecortexDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>